/* css rules for the bbcode content that is converted into HTML */

.markup h2, .markup h3, .markup h4, .markup h5, .markup h6 {
  margin-top: 1rem;
}

/* numbers, round brackets, square brackets, curly brackets */
.markup .non-italic {
  font-style: normal;
}

/* [quote]...[/quote] */
.markup blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin-top: 0.7em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  text-align: justify;
}
.markup blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

/* [center]...[/center] */
.markup .center-paragraph {
  text-align: center;
}

/* [ind]...[/ind] */
.markup .indent-paragraph {
  /* directly from hypercard */
  margin: 1em 0 1em 40px;
}

/* [ovl]...[/ovl] */
.markup .overline {
  text-decoration: overline;
}

/* [sub]...[/sub] */
.markup .subscript {
  vertical-align: sub;
}

/* [sup]...[/sup] */
.markup .superscript {
  vertical-align: super;
}

/* [gl]...[/gl] */
.markup .gllink {
  color: #008000;
}

/* [ac]...[/ac] */
.markup .aclink {
  color: brown;
}

/* [big]...[/big] */
.markup .bigger {
  font-size: larger;
}

/* [small]...[/small] */
.markup .smaller {
  font-size: smaller;
}

/* [t]...[/t] */
.markup .translation {
  color: #EB0000 !important;
  cursor: pointer;
}

.markup .katex {
  font-size: 1em !important;
}

.markup .blue-block {
  background-color: #ccffff;
  padding: 10px;
}

.markup .grey-block {
  background-color: #cccccc;
  padding: 10px;
}

.markup table {
  width: 100%;
}

.markup .math-error {
  color: #EB0000;
}

.markup .red-text {
  color: #EB0000;
}
.markup .blue-text {
  color: #0000FF;
}
.markup .green-text {
  color: #008000;
}
.markup .brown-text {
  color: brown;
}

.markup .diagram {
  border: none;
  margin: 5px 0 5px 10px;
}

.markup pre {
  margin-top: 1rem;
}
