body {
  background-color: #e5e5e5;
  font-family: 'Times New Roman';
  letter-spacing: initial;
  font-weight: initial;
  line-height: initial;
  font-size: initial;
  text-align: justify;
}
h1, h2, h3, h4, h5, h6, ol, ul {
  text-align: left;
}
.container {
  background-color: #FFFFFF;
}
.site-footer {
  padding: 0;
  background-color: initial;
  border-top: 1px solid #e5e5e5;
}
.site-footer .row {
  margin-left: 0px;
  margin-right: 0px;
}
.site-footer .row div {
  margin-top: auto;
  margin-bottom: auto
}
.site-footer img {
  max-width: 100%;
  max-height: 100%;
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width:768px) {
  .cr-footer {
    text-align: left;
  }
  .links-footer {
    text-align: right;
  }
}

.nav>a {
  color: black;
}

.sidebar-links {
  padding-left: 20px;
}

#alphabetical-index-jumpbox {
  text-align: center;
}
#alphabetical-index-jumpbox > table {
  width: 100%;
}

.of-the-day-month h5 {
  text-align: center;
}
.of-the-day-month table {
  text-align: center;
  width: 100%;
}

.project-navigation {
  text-align: center;
}

.biography-thumbnail {
  width: 145px;
}
.biography-thumbnail-container {
  text-align: center;
}

.curve-equation {
  color: blue;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.pictdisplay.row {
  text-align: center;
}
.pictdisplay.row p {
  text-align: center;
}
.pictdisplay.row img {
  padding: 10px;
}

#_Loader-status {
  display: none;
}
#testApplet_infotablediv {
  display: none!important;
}
#sysoutdiv {
  display: none;
}

#map {
  width: 100%;
  height: 500px;
}

.curve-container {
  text-align: center;
}
.curve-container img {
  border: 1px solid black;
}
