{% macro additional(additionals, otherwebs, name) -%}
  {% if (additionals and additionals.blocks|length > 0) or (otherwebs and otherwebs.blocks|length > 0) %}
  <div class="row">
    <div class="col-md-12">
      <h3>Additional Resources <span class="nonoscript">(<a href="#" id="additional-toggle">show</a>)</span></h3>
    </div>
  </div>

  <div class="row" id="additional-list">
    {% if (additionals and additionals.blocks|length > 0) %}
    <div class="col-md-6">
      <p>Other pages about {{ name }}:</p>
      <ol name="additional">
        {% for additional in additionals.blocks %}
        {{ additional }}
        {% endfor %}
      </ol>
    </div>
    {% endif %}

    {% if (otherwebs and otherwebs.blocks|length > 0) %}
    <div class="col-md-6">
      <p>Other websites about {{ name }}:</p>
      <ol name="otherweb">
        {% for otherweb in otherwebs.blocks %}
        {# we're not just using {{ otherweb }} because we want to make it open in new tab #}
        <li><a href="{{ otherweb.link|url }}" target="_blank">{{ otherweb.text|safe }}</a></li>
        {% endfor %}
      </ol>
    </div>
    {% endif %}
  </div>
  {% endif %}
{%- endmacro %}
