{% macro references(refs, title='References') -%}
  {% if refs and refs.blocks|length > 0 %}
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <h3>{{ title }} <span class="nonoscript">(<a href="#" id="references-toggle">show</a>)</span></h3>
    </div>
  </div>
  <div class="row" id="references-list">
    <div class="col-md-12">
      <ol name="references">
        {% for reference in refs.blocks %}
        {{ reference }}
        {% endfor %}
      </ol>
    </div>
  </div>
  {% endif %}
{%- endmacro %}
