{% macro thumbnail(images, link, path) -%}
  {% set biographyimages = images.filter(F._model == 'biographyimage') %}
  {% set thumbnail = biographyimages.filter(F.main == True) %}
  {% set bigimages = biographyimages.filter(F.main == False) %}

  {% if thumbnail.count()|int == 1|int %}
    {% if link %}
    {% if bigimages.count()|int > 0|int %}
    <a href="{{ '%s/@pictdisplay'|format(path)|url }}">
    {% else %}
    <a href="{{ thumbnail.first()|url }}">
    {% endif %}
    {% endif %}
    <img src="{{ thumbnail.first()|url }}" />
    {% if link %}
    More Images
    </a>
    {% endif %}
  {% endif %}
{%- endmacro %}
