{% extends "layout.html" %}

{% block title %}{{ this.shortname }} {% if this.birthyear %} ({{ this.birthyear|format_year }} - {% if this.deathyear %}{{ this.deathyear|format_year }}{% endif %}){% endif %} - Biography{% endblock %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="{{ this.shortname|e }} - Biography">
<meta property="og:description" content="{{ this.summary|striptags|e }}">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">
{% set thumbnail = this.attachments.images.filter(F._model == 'biographyimage').filter(F.main == True).first() %}
{% if thumbnail %}
<meta property="og:image" content="{{ thumbnail|canonical_url }}">
<meta property="og:image:width" content="{{ thumbnail.width }}">
<meta property="og:image:height" content="{{ thumbnail.height }}">
<meta property="og:image:type" content="image/{{ thumbnail.type }}">
{% endif %}

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="{{ this.shortname|e }}" />
<meta name="twitter:description" content="{{ this.summary|striptags|e }}" />
{% if thumbnail %}
<meta name="twitter:image" content="{{ thumbnail|canonical_url }}" />
{% endif %}
{% endblock %}

{% block body %}
{# we have to do this again, because blocks are scoped #}
{% set thumbnail = this.attachments.images.filter(F._model == 'biographyimage').filter(F.main == True).first() %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ this.fullname }}</h1>
  </div>
</div>

<hr/>

{% if this.birthdate or this.birthplace or this.deathplace or this.deathplace or this.summary %}
<div class="row">
  <div class="col-md-{% if thumbnail %}8{% else %}12{% endif %}">
    <h3>Quick Info</h3>

    {% if this.birthdate or this.birthplace %}
    <dt>Born</dt>
    <dd>
      {% if this.birthdate %}{{ this.birthdate }}{% endif %}
      {% if this.birthdate and this.birthplace %}<br/>{% endif %}
      {% if this.birthplace %}
        {% if this.maplocation %}<a href="{{ '/Map/#%s'|format(this.maplocation)|url }}" target="_blank">{% endif %}
        {{ this.birthplace }}
        {% if this.maplocation %}</a>{% endif %}
      {% endif %}
    </dd>
    {% endif %}

    {% if this.deathdate or this.deathplace %}
    <dt>Died</dt>
    <dd>
      {% if this.deathdate %}{{ this.deathdate }}{% endif %}
      {% if this.deathdate and this.deathplace %}<br/>{% endif %}
      {% if this.deathplace %}{{ this.deathplace }}{% endif %}
    </dd>
    {% endif %}

    {% if this.summary %}
    <hr/>
    <dt>Summary</dt>
    <dd>{{ this.summary }}</dd>
    {% endif %}
  </div>

  {% if thumbnail %}
  {% set numbigimages = this.attachments.images.filter(F._model == 'biographyimage').filter(F.main == False).count() %}
  <div class="col-md-4 biography-thumbnail-container">
    {% if numbigimages > 0 %}
    <a href="{{ '%s/@pictdisplay'|format(this.path)|url }}" target="_blank">
    {% endif %}
    <img class="biography-thumbnail" src="{{ thumbnail|url }}" />
    {% if numbigimages > 0 %}
    <br/>
    View {{ numbigimages|num2words }} larger picture{% if numbigimages > 1 %}s{% endif %}</a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endif %}

<hr/>

<div class="row">
  <div class="col-md-12">
    <h3>Biography</h3>
    {{ this.content }}
  </div>
</div>

{% set hasquotations = this.quotations and this.quotations.blocks|length > 0 %}
{% set hascountry = this.country %}
{% set hasposter = this|has_lived_poster %}

{% if hasquotations or hascountry or hasposter %}
<hr/>
<div class="row mt-2">
  <div class="col-md-12">
    {% if hasquotations %}<a href="{{ '%s/@quotations'|format(this.path)|url }}">Quotations by {{ this.shortname }}</a>{% endif %}
    {% if hasquotations and (hascountry or hasposter) %}<br/>{% endif %}
    {% if hascountry %}<a href="{{ '/Countries/%s/'|format(this.country)|url }}">Other Mathematicians born in {{ this.country }}</a>{% endif %}
    {% if hasposter and hascountry %}<br/>{% endif %}
    {% if hasposter %}<a href="{{ '%s/@poster/lived'|format(this.path)|url }}">A Poster of {{ this.shortname }}</a>{% endif %}
  </div>
</div>
{% endif %}

{% import 'macros/references.html' as references %}
{{ references.references(this.references) }}

{% import 'macros/additional.html' as additional %}
{{ additional.additional(this.additional, this.otherweb, this.shortname) }}

{% if this.honours and this.honours.blocks|length > 0 %}
<hr/>
<div class="row">
  <div class="col-md-12">
    <h3>Honours <span class="nonoscript">(<a href="#" id="honours-toggle">show</a>)</span></h3>
  </div>
</div>
<div class="row" id="honours-list">
  <div class="col-md-12">
    <p>Honours awarded to {{ this.shortname }}</p>
    <ol name="honours">
      {% for honour in this.honours.blocks %}
      {{ honour }}
      {% endfor %}
    </ol>
  </div>
  </div>
</div>
{% endif %}

{% if this.xrefs and this.xrefs|length > 0 %}
<hr/>
<div class="row">
  <div class="col-md-12">
    <h3>Cross-references <span class="nonoscript">(<a href="#" id="xrefs-toggle">show</a>)</span></h3>
  </div>
</div>
<div class="row" id="xrefs-list">
  <div class="col-md-12">
    <ol name="xrefs">
      {% for xref in this.xrefs %}
      <li><a href="{{ xref.record|url }}">{{ xref.title|actual_safe|safe }}</a></li>
      {% endfor %}
    </ol>
  </div>
  </div>
</div>
{% endif %}

{% if this.authors or this.update %}
<hr/>
<div class="row">
  <div class="col-md-12">
    {% if this.authors %}Written by {{ this.authors }}{% endif %}
    {% if this.authors and this.update %}<br/>{% endif %}
    {% if this.update %}Last Update {{ this.update }}{% endif %}
  </div>
</div>
{% endif %}

<!-- END MAIN BODY -->

{% endblock %}
