{% extends "layout.html" %}

{% block title %}Biographies Alphabetical Index{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}
<div class="row px-5">
  <div class="col">
    <div id="alphabetical-index-jumpbox" class="mb-3">
      <h1>Alphabetical Index</h1>
      {% import 'macros/biographyindextable.html' as table %}
      {{ table.biographyindextable() }}
    </div>
  </div>
</div>

{% for column in get_categories_by_type(site, 'biographies')|slice(2) %}
{% if loop.first %}
<div class="row px-5 mt-3">
  <div id="alphabetical-index-jumpbox" class="col-md-12">
    <h1>Categories</h1>
  </div>
{% endif %}
  <div class="col-md-6">
    {% for category in column %}
    <li><a href="{{ '/Biographies/@categoryindex/%s'|format(category._slug)|url }}">{{ category.name }}</a></li>
    {% endfor %}
  </div>
{% if loop.last %}
</div>
{% endif %}
{% endfor %}

{% endblock %}
