{% extends "layout.html" %}

{% block title %}{{ this.shortname }} {% if this.birthyear %} ({{ this.birthyear|format_year }} - {% if this.deathyear %}{{ this.deathyear|format_year }}{% endif %}){% endif %} - Biography{% endblock %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="{{ this.shortname }} - Biography">
<meta property="og:description" content="{{ this.summary }}">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">
{% set thumbnail = this.attachments.images.filter(F._model == 'biographyimage').filter(F.main == True).first() %}
{% if thumbnail %}
<meta property="og:image" content="{{ thumbnail|canonical_url }}">
<meta property="og:image:width" content="{{ thumbnail.width }}">
<meta property="og:image:height" content="{{ thumbnail.height }}">
<meta property="og:image:type" content="image/{{ thumbnail.type }}">
{% endif %}

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="{{ this.shortname }}" />
<meta name="twitter:description" content="{{ this.summary }}" />
{% if thumbnail %}
<meta name="twitter:image" content="{{ thumbnail|canonical_url }}" />
{% endif %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ this.fullname }}</h1>
  </div>
</div>

{% if this.birthdate or this.birthplace or this.deathplace or this.deathplace or this.summary %}
<div class="row mt-5">
  <div class="col-md-8">
    <h3>Quick Info</h3>

    {% if this.birthdate or this.birthplace %}
    <dt>Born</dt>
    <dd>
      {% if this.birthdate %}{{ this.birthdate }}{% endif %}
      {% if this.birthdate and this.birthplace %}<br/>{% endif %}
      {% if this.birthplace %}
        {% if this.maplocation %}<a href="{{ '/Map/#%s'|format(this.maplocation)|url }}" target="_blank">{% endif %}
        {{ this.birthplace }}
        {% if this.maplocation %}</a>{% endif %}
      {% endif %}
    </dd>
    {% endif %}

    {% if this.deathdate or this.deathplace %}
    <dt>Died</dt>
    <dd>
      {% if this.deathdate %}{{ this.deathdate }}{% endif %}
      {% if this.deathdate and this.deathplace %}<br/>{% endif %}
      {% if this.deathplace %}{{ this.deathplace }}{% endif %}
    </dd>
    {% endif %}

    {% if this.summary %}
    <dt>Summary</dt>
    <dd>{{ this.summary }}</dd>
    {% endif %}
  </div>

  {% import 'macros/thumbnail.html' as thumbnail %}
  <div class="col-md-4">
    <div class="row" style="text-align: center;">
      {{ thumbnail.thumbnail(this.attachments.images, True, this.path) }}
    </div>
  </div>
</div>
{% endif %}

<div class="row mt-5">
  <div class="col-md-12">
    <h3>Biography</h3>
    {{ this.content }}
  </div>
</div>

{% if this.quotations and this.quotations.blocks|length > 0 %}
<div class="row mt-2">
  <div class="col-md-12">
    <a href="{{ '%s/@quotations'|format(this.path)|url }}">Quotations by {{ this.shortname }}</a>
  </div>
</div>
{% endif %}

{% import 'macros/references.html' as references %}
{{ references.references(this.references) }}

{% import 'macros/additional.html' as additional %}
{{ additional.additional(this.additional, this.otherweb, this.shortname) }}

{% if this.honours and this.honours.blocks|length > 0 %}
<div class="row">
  <div class="col-md-12">
    <h3>Honours <span class="nonoscript">(<a href="#" id="honours-toggle">show</a>)</span></h3>
  </div>
</div>
<div class="row" id="honours-list">
  <div class="col-md-12">
    <p>Honours awarded to {{ this.shortname }}</p>
    <ol name="honours">
      {% for honour in this.honours.blocks %}
      {{ honour }}
      {% endfor %}
    </ol>
  </div>
  </div>
</div>
{% endif %}

{% if this.authors or this.update %}
<div class="row">
  <div class="col-md-12">
    {% if this.authors %}Written by {{ this.authors }}{% endif %}
    {% if this.authors and this.update %}<br/>{% endif %}
    {% if this.update %}Last Update {{ this.update }}{% endif %}
  </div>
</div>
{% endif %}

<!-- END MAIN BODY -->

{% endblock %}
