{% extends "layout.html" %}

{% block title %}British Mathematical Colloquium{% endblock %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="British Mathematical Colloquium">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="British Mathematical Colloquium" />
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>British Mathematical Colloquium</h3>
  </div>
  {% if this.description %}
  <div class="col-md-12">
    {{ this.description }}
  </div>
  {% endif %}
</div>

<hr/>

<!--noindex-->
<div class="row">
  <div class="col-md-8">
    <h4>Colloquia</h4>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Year</th>
          <th>Place</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for colloquium in this.children.order_by('year') %}
        <tr>
          <td class="pr-3">{{ loop.index }}</td> 
          <td>{{ colloquium.year }}</td>
          <td>{{ colloquium.place }}</td>
          <td><a href="{{ colloquium|url }}">Programme</a></td>
          <td>
            {% if colloquium.indexlinks %}
            [
            {% for link in colloquium.indexlinks.blocks %}
            <a href="{{ '%s%s'|format(colloquium.url_path, link.page)|url }}">{{ link.text }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- SIDEBAR -->
  <aside class="col-md-4">
    <div class="p-3 mb-3 bg-light rounded">
      <h4>Speaker Lists</h4>
      <ul>
        <li><a href="{{ '/BMC/@bmc/plenary'|url }}">Plenary speakers</a></li>
        <li><a href="{{ '/BMC/@bmc/morning'|url }}">Morning speakers</a></li>
        <li><a href="{{ '/BMC/@bmc/special'|url }}">Special session speakers</a></li>
        <li><a href="{{ '/BMC/@bmc/all'|url }}">All speakers</a></li>
      </ul>
    </div>
  </aside>
  <!-- END SIDEBAR -->
</div>
<!--endnoindex-->
{% endblock %}
