{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h2>{{ this.title }}</h2>
    {% if this.content %}
    {{ this.content }}
    {% endif %}
  </div>
</div>

<!--noindex-->
<div class="row">
  {% for column in site.query('/Countries/')|slice(2) -%}
  <div class="col-md-6">
    <ul>
      {% for country in column %}
      <li><a href="{{ country|url }}">{{ country.name }}</a></li>
      {% endfor %}
      </ul>
  </div>
  {% endfor %}
</div>
<!--endnoindex-->
{% endblock %}
