{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>Curves</h1>
    <h3>{{ this.name }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {% for image in this.attachments.images %}
      {% if image._model == 'curveimage' and image.main %}
        <img src="{{ image|url }}" alt="{{ image.description }}" />
      {% endif %}
    {% endfor %}
  </div>

  <div class="col-md-4">
    {% if this.equations %}
    {% for equation in this.equations.blocks %}
    {{ equation }}
    {% endfor %}
    {% endif %}
  </div>
</div>

<div class="row mt-5 nonoscript">
  <div class="col-md-12">
    <a href="{{ '%s/@curvesapplet'|format(this.path)|url }}">View the interactive version of this curve.</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <h3>Description</h3>
    {{ this.content }}
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <h3>Associated Curves</h3>
    <p><a href="{{ '/Curves/Definitions/'|url }}">Definitions of the Associated curves</a></p>
  </div>
</div>

<div class="row">
  {% for column in this.attachments.images.filter(F.main == False).filter(F._model == 'curveimage')|sort(attribute='path')|slice(2) -%}
  <div class="col-md-6">
    {% for image in column %}
    <li><a href="{{ image|url }}" class="associated-curve">{{ image.description }}</a></li>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<!-- END MAIN BODY -->

{% endblock %}
