<div class="row">
  <h3>{{ this.fullname }}</h3>
  <p>
    {% if this.married_name %}
    <b>Married name: </b> {{ this.married_name }}
    <br />
    {% endif %} {% if this.university %}
    <b>University: </b> {{ this.university }}
    <br />
    {% endif %}
    <b>Degree classification: </b> {{ this.classification }}
    <br />
    <b>Graduation year: </b> {{ this.graduation_year }}
    <br />
    {% if this.further_details %}
    <b>Further details</b> {{ this.further_details }} {% endif %}
  </p>
</div>
