{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ this.title }}</h1>
    {% if this.content %}
    {{ this.content }}
    {% endif %}
  </div>

  <div class="col-ms-12">
    <!--noindex-->
    <ol>
      {% for page in site.query('/Education') %}
      <li><a href="{{ page|url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ol>
    <!--endnoindex-->
  </div>
</div>
{% endblock %}
