{% extends "layout.html" %}

{% block title %}EMS Index{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>EMS Index</h1>
    <!--noindex-->
    <ul>
    {% for page in site.query('/EMS') %}
      <li><a href="{{ page|url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
    <!--endnoindex-->
  </div>
</div>
{% endblock %}
