{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h3>{{ this.title }}</h3>
    {% if this.content %}
    {{ this.content }}
    {% endif %}
  </div>
</div>

<hr/>

<!--noindex-->
<div class="row">
  <div class="col-md-8">
    <h4>Places</h4>
    <ul>
      {% for place in this.children.filter(F._model == 'gazplace').order_by('place') %}
      <li><a href="{{ place|url }}">{{ place.place }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <!-- SIDEBAR -->
  <aside class="col-md-4">
    <div class="p-3 mb-3 bg-light rounded">
      <h4>Other Gazetteer</h4>
      <ul>
        <li><a href="{{ '/@otherindexes/gazmap'|url }}">Interactive Map</a></li>
        {% for page in this.children.filter(F._model == 'page') %}
        <li><a href="{{ page|url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>
  <!-- END SIDEBAR -->
</div>
<!--endnoindex-->

{% import 'macros/gazfooter.html' as gazfooter %}
{{ gazfooter.gazfooter() }}

{% endblock %}
