{% extends "layout.html" %}

{% block title %}{{ this.name }} - Mathematical Gazetteer of the British Isles{% endblock %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="{{ this.name|e }} - Mathematical Gazetteer of the British Isles">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="{{ this.name|e }} - Mathematical Gazetteer of the British Isles" />
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>{{ this.name }}</h1>
    <h5>Mathematical Gazetteer of the British Isles</h5>
  </div>
</div>

{% if this.places %}
<hr/>
<div class="row">
  <div class="col-md-12">
    <ul>
      {% for place in this.places.blocks %}
      {{ place }}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}


<!-- END MAIN BODY -->

{% endblock %}
