{% extends "layout.html" %}

{% block title %}History Topics Index{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}
<!--<div class="row">
  <div class="col-md-12">
    <h1>History Topic Index</h1>
    <ul>
    {% for page in site.query('/HistTopics') %}
      <li><a href="{{ page|url }}">{{ page.shortname }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>-->
<div class="row">
  <div class="col-md-12">
    <h1>History Topic Index</h1>
  </div>
</div>

<div class="row">
  {% for column in plugin_categories()|slice(2) -%}
  <div class="col-md-6">
    {% for category in column %}
    <li><a href="{{ '/@categoryindex/%s'|format(category['tag'])|url }}">{{ category['name'] }}</a></li>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
