{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ this.title }}</h1>
    {% if this.content %}
    {{ this.content }}
    {% endif %}
  </div>
</div>

<!--noindex-->
<div class="row">
  <div class="col-md-8">
    {% for category in get_categories_by_type(site, 'histtopics') %}
    {% if loop.first %}
    <h4>Categories</h4>
    <ul>
    {% endif %}
      <li><a href="{{ '/HistTopics/@categoryindex/%s'|format(category._slug)|url }}">{{ category.name }}</a></li>
    {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}
  </div>

  <!-- SIDEBAR -->
  <aside class="col-md-4">
    <div class="p-3 mb-3 bg-light rounded">
      <h4>Other History Topics</h4>
      <ul>
        <li><a href="{{ '/Education'|url }}">Mathematical Education</a></li>
        <li><a href="{{ '/HistTopics/History_overview'|url }}">Overview of the History of Mathematics</a></li>
        <li><a href="{{ '/Miscellaneous/recent_changes'|url }}">Recent Changes</a></li>
        <li><a href="{{ '/@otherindexes/histtopics'|url }}">Alphabetical List</a></li>
        <li><a href="{{ '/Projects'|url }}">Student Projects</a></li>
      </ul>
    </div>
  </aside>
  <!-- END SIDEBAR -->
</div>
<!--endnoindex-->
{% endblock %}
