{% extends "layout.html" %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="{{ this.shortname }}">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="{{ this.shortname }}" />
<meta name="twitter:description" content="{{ this.summary }}" />
{% endblock %}

{% block title %}{{ this.shortname }}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>{{ this.fullname }}</h1>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    {{ this.content }}
  </div>
</div>

{% import 'macros/references.html' as references %}
{{ references.references(this.references) }}

{% import 'macros/additional.html' as additional %}
{{ additional.additional(this.additional, this.otherweb, this.shortname) }}

{% if this.authors or this.update %}
<hr/>
<div class="row">
  <div class="col-md-12">
    {% if this.authors %}Written by {{ this.authors }}{% endif %}
    {% if this.authors and this.update %}<br/>{% endif %}
    {% if this.update %}Last Update {{ this.update }}{% endif %}
  </div>
</div>
{% endif %}

<!-- END MAIN BODY -->

{% endblock %}
