{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ this.title }}</h1>
    {% if this.content %}
    {{ this.content }}
    {% endif %}
  </div>
</div>

<hr/>

<!--noindex-->
<div class="row">
  {% set count = namespace(value=1) %}
  {% for col in site.query('/ICM').order_by('title')|slice(2) %}
  <div class="col-md-6">
    <ol start="{{ count.value }}">
      {% for page in col %}
      <li><a href="{{ page|url }}">{{ page.title }}</a></li>
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </ol>
  </div>
  {% endfor %}
</div>
<!--endnoindex-->

{% endblock %}
