<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{ '/static/img/favicon.gif'|url }}">

  <title>{% block title %}{% endblock %} - MacTutor History of Mathematics</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|asseturl }}">

  <!-- Custom CSS - must be in this order -->
  <link rel="stylesheet" href="{{ '/static/css/lato.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/css/reset.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/css/custom.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/css/site.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/css/content.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/katex/katex.min.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/css/tooltip.css'|asseturl }}">

  {# want the homepage ONLY to have full background #}
  {% if this.path == '/' %}
  <style>
    @media (min-width: 768px) {
      body {
        background-image: url("{{ '/static/img/background.png'|asseturl }}");
      }
    }
  </style>
  {% endif %}

  <!-- opposite of noscript -->
  <noscript>
    <style>
      .nonoscript {
        display: none;
      }
    </style>
  </noscript>
  {% endblock %}
</head>

<body>
  <main role="main" class="container">

    <!-- HEADER -->
    <header class="site-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col pt-1">
          <a class="site-header-name" href="{{ '/'|url }}">
            <h1 class="site-header-name"><img height="48" src="{{ '/static/img/logo.png'|url }}" />&nbsp;MacTutor</h1>
          </a>
        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- NAVIGATION -->
    {% if not this.path.startswith('/Extras/') %}
    <div class="container nav-bar">
      <div class="row nav">
        {% for href, title in [
          ['/', 'Home'],
          ['/Biographies', 'Biographies'],
          ['/HistTopics', 'History Topics'],
          ['/Map', 'Map'],
          ['/Curves', 'Curves'],
          ['/@searchhome', 'Search']
        ] %}
          <a class="col-md-auto p-2" href="{{ href|url }}">{{ title }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- END NAVIGATION -->

    {% block body %}{% endblock %}

    <footer class="site-footer mt-3">
      <div class="row">
        <div class="cr-footer col-md-4">
          DJF/JOC/EFR<br/>
          <a href="{{ '/license/'|url }}">Copyright information</a>
        </div>
        <div class="links-footer col-md-6">
          <a href="http://www.st-andrews.ac.uk/maths/" target="_blank">School of Mathematics and Statistics</a>
          <br/>
          <a href="http://www.st-andrews.ac.uk/" target="_blank">University of St Andrews, Scotland</a>
        </div>
        <div class="col-md-2">
          <img src="{{ '/static/img/st-andrews-logo.png'|asseturl }}" alt="University of St Andrews logo">
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          We are currently testing a new website. Please <a href="{{ '/contactus/'|url }}">let us know your comments and feedback</a>.
        </div>
      </div>
    </footer>

  </main>

  <script src="{{ '/static/js/popper.min.js'|asseturl }}"></script>
  <script src="{{ '/static/js/tippy-bundle.iife.min.js'|asseturl }}"></script>
  <script src="{{ '/static/js/site-popups.js'|asseturl }}"></script>
  <script src="{{ '/static/js/foldup.js'|asseturl }}"></script>
  {% if not this.path.startswith('/Extras/') %}
  <script src="{{ '/static/js/extras-popup.js'|asseturl }}"></script>
  {% endif %}
</body>

</html>
