{% extends "layout.html" %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="Birthplace Map">
<meta property="og:description" content="An interactive map showing the birthplaces of the mathematicians in the Maths History archive.">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="{{ this.shortname }}" />
<meta name="twitter:description" content="An interactive map showing the birthplaces of the mathematicians in the Maths History archive." />

<link rel="stylesheet" href="{{ '/static/css/ol.css'|asseturl }}" type="text/css">
{% endblock %}

{% block title %}Birthplace Map{% endblock %}


{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>Birthplace Map</h1>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-9">
    <div id="map">
      <noscript>
        The birthplace map requires JavaScript enabled in your browser to work.
      </noscript>
    </div>
  </div>
  <div class="col-md-3">
    <h3 id="location-name">No Location Chosen</h3>
    <h4 id="location-country"></h4>
    <h5 id="location-latlong"></h5>
    <p id="location-webref"><span>Choose a location on the map to see which mathematicians were born there.</span></p>
    <p id="gaz-webref"></p>
    <ul id="location-people"></ul>
  </div>
</div>

<!--noindex-->
<div class="row">
  <div class="col-md-12">
    You can also <a href="{{ '/Countries/'|url }}">view mathematicians by country</a>.
  </div>
</div>
<!--endnoindex-->

<script src="{{ '/static/js/ol.js'|asseturl }}"></script>
<script src="{{ '/static/js/interactivemap.js'|asseturl }}"></script>
<script src="{{ '/static/js/birthplacemap.js'|asseturl }}"></script>

<!-- END MAIN BODY -->

{% endblock %}
