{% extends "layout.html" %}

{% block title %}Obituaries Index{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/css/indexes.css'|asseturl }}" type="text/css">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>Obituaries Index</h1>
    <ul>
    {% for page in this.children %}
      <li><a href="{{ page|url }}">{{ page.name }}{% if page.wherefrom %} - {{ page.wherefrom }}{% endif %}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
