{% extends "layout.html" %}

{% block title %}{{ this.name }} - {% if this.wherefrom %}{{ this.wherefrom }}{% else %}Obituary{% endif %}{% endblock %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="{{ this.name|e }} - {% if this.wherefrom %}{{ this.wherefrom|e }}{% else %}Obituary{% endif %}">
<meta property="og:description" content="{{ this.summary|striptags|e }}">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="{{ this.name|e }} - {% if this.wherefrom %}{{ this.wherefrom|e }}{% else %}Obituary{% endif %}" />
<meta name="twitter:description" content="{{ this.summary|striptags|e }}" />
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>{{ this.name }}</h1>
    {% if this.wherefrom %}<h3>{{ this.wherefrom }}</h3>{% endif %}
    {% if this.summary %}<p>{{ this.summary }}</p>{% endif %}
    <p class="mb-0"><a href="{{ this.parent|url }}">Obituaries Index</a></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    {{ this.content }}
  </div>
</div>

<!-- END MAIN BODY -->

{% endblock %}
