{% extends "layout.html" %}
{% block title %}{{ this.title }} - Projects{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>{{ this.title }}</h1>
    <h3>{{ this.author }}</h3>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-12">
    {% if this.pages.blocks|length > 0 %}
    <h4>Contents</h4>
    <ol>
    {% for page in this.pages.blocks %}
      <li>
          <a href="{{ '%s/@projectpage/%s/'|format(this.path, loop.index0)|url }}">{{ page.title }}</a>
      </li>
    {% endfor %}
    <ul>
    {% else %}
    <i>Error: No pages found</i>
    {% endif %}
  </div>
</div>

<!-- END MAIN BODY -->

{% endblock %}
