{% extends "layout.html" %}

{% block title %}{{ this.title }} - Projects{% endblock %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="{{ this.title|e }}">
<meta property="og:description" content="Student project by {{ this.author|e }}">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="{{ this.title|e }}" />
<meta name="twitter:description" content="Student project by {{ this.author|e }}" />
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>{{ this.title }}</h1>
    <h3>{{ this.author }}</h3>
    <p>Back to <a href="{{ this.parent|url }}">Projects Index</a></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    {% if this.children and this.children.count() > 0 %}
    <h4>Contents</h4>
    <ol>
    {% for page in this.children %}
      <li>
          <a href="{{ page|url }}">{{ page.title }}</a>
      </li>
    {% endfor %}
    <ul>
    {% else %}
    <em>Error: No chapters found</em>
    {% endif %}
  </div>
</div>

{% import 'macros/references.html' as references %}
{{ references.references(this.references) }}

<!-- END MAIN BODY -->

{% endblock %}
