{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>{{ this.headline }}</h1>
    <h3>Founded in {{ this.foundation }}</h3>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    {{ this.content }}
  </div>
</div>

{% if this.website %}
<div class="row mt-5">
  <div class="col-md-12">
    Visit the <a href="{{ this.website }}">society website</a>.
  </div>
</div>
{% endif %}

{% import 'macros/references.html' as references %}
{{ references.references(this.references) }}

{% import 'macros/lastupdate.html' as lastupdate %}
{{ lastupdate.lastupdate(this.update) }}

<!-- END MAIN BODY -->

{% endblock %}
