{% extends "layout.html" %}

{% block title %}{{ this.name }}{% endblock %}

{% block head %}
{{ super() }}
<!-- opengraph -->
<meta property="og:title" content="{{ this.name }}">
<meta property="og:description" content="{{ this.headline }}{% if this.foundation %}, founded in {{ this.foundation }}{% endif %}">
<meta property="og:site_name" content="Maths History">
<meta property="og:locale" content="en_GB">
<meta property="og:url" content="{{ this|canonical_url }}">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Maths History" />
<meta name="twitter:title" content="{{ this.name }}" />
<meta name="twitter:description" content="{{ this.headline }}{% if this.foundation %}, founded in {{ this.foundation }}{% endif %}" />
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <h1>{{ this.headline }}</h1>
    {% if this.foundation %}
    <h3>Founded in {{ this.foundation }}</h3>
    {% endif %}
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    {{ this.content }}
  </div>
</div>

{% if this.website %}
<div class="row mt-5">
  <div class="col-md-12">
    Visit the <a href="{{ this.website }}">society website</a>.
  </div>
</div>
{% endif %}

{% import 'macros/references.html' as references %}
{{ references.references(this.references) }}

{% import 'macros/lastupdate.html' as lastupdate %}
{{ lastupdate.lastupdate(this.update) }}

<!-- END MAIN BODY -->

{% endblock %}
